/* this is the css file for the journal page */


* {
    text-align: center;
}

img[src='pikachu.jpg'] {
    border: 3px solid;
    border-radius: 10px;
}

.gridItem:hover{
    color:whitesmoke;
}

#sp1,#sp2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em;
}

fieldset label{
    color:chocolate;
}

fieldset > textarea{
    color:darksalmon;
}


hr ~ p{
    color: dimgray;
}

#end + p{
    color:white;
    background-color: black;
}

p#summary{
    font-weight: bold;
    font-size: 25px;
}

.title{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

h2 {
    color: 'white';
    height: 2vh;
    max-height: 50px;
    width: 100vw;
    max-width: 1000px;
    min-width:500px;
}
h3 {
    color: #FAA;
    height: 30px;
}

span {
    margin: 2mm 2mm 2mm 2mm;
    display: inline-block;
    position: relative;
    min-width:40px;
}

header {
    background-color: purple;
    margin: auto;
}

a{
    color:white;
    width: 20 vw;
    height: 1cm;
    margin: 5mm 3mm 5mm 3mm;
    padding: 5px 5px 5px 5px;
    border-style: dotted;
    border-color: aliceblue;
    border-width:1px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    position: static;
}

a:hover{
    color:red
}


button:active{
    background-color:burlywood;
}

#nav_1 {
    margin: 0mm 0mm 0mm 0mm;
    text-align: center;
}

#end{
    text-align: center;
}


p {
    color:black;
    text-decoration: brown;
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.block{
    display:block;
    width:100px;
    height:40px;
}

.flexContainer{
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}

.gridContainer{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 100px 100px;
    column-gap: 30px;
    row-gap: 10px;
}

.gridItem {
    min-width: 300px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}